{% extends 'core-login.html' %}
{% block content %}

<!-- END OF MESSAGE-->

<div class="l-container">
    <div class="login-page">
    
      <div class="form" id="login">
        <div class="login-bar"><div id="logo" class="logo"><p>LOGIN PANEL</p></div></div>
          
        <form class="login-form" action="{% url 'login' %}" method="POST">
          {% csrf_token %}   
          <input type="text" id="username" name="username" placeholder="Username" required/>
          <i class="far fa-eye" id="togglePassword"></i></input>
          <input type="password" id="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required/>
          <div class="btn-sq">
          <button>Sign in</button>
          </div>
          <p class="message">Forgot password? <a href="{% url 'forgot_password' %}"> Reset password here</a></p>
          <p class="message" id="r">Don't have an account? <a href="{% url 'register' %}"> Register now</a></p>
        </form>
      </div> 
    </div>    
  </div>
  
  <script>
  
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');
  const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#oldpassword');
  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#newpassword');
  
  
  togglePassword.addEventListener('click', function (e) {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.classList.toggle('far fa-eye');
  });
  
  togglePassword1.addEventListener('click', function (e) {
      const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
      password1.setAttribute('type', type);
      this.classList.toggle('far fa-eye');
  });
  
  togglePassword2.addEventListener('click', function (e) {
      const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
      password2.setAttribute('type', type);
      this.classList.toggle('far fa-eye');
  });
  
  
  </script>

{% endblock content %}