{% extends 'core.html' %}
{% block content %}

<div class="container">
    <div class="read-posts">
        
    
 
         {% for item in post %}
         <div class="post">
             
             <div class="post-header">
                 <div class='title'><A>{{item.title}} <i class="fas fa-star"></i> {{item.post_rating}}</A></div>
                 <div class='autor-date'>{{item.publish_date}} / {{item.user}}</div>
                 {% if item.user.id == request.user.id%}
                <div style='display:flex; float:right;'><span id="edit-post"><i class="fas fa-edit"></i></span>
                <form action="{% url 'delete_post' %}" method='post'>
                  {% csrf_token %}
                  <input type='hidden' name="post_id" value="{{item.id}}"/>
                  <button onclick="return confirm('Are you sure you want to delete this item?');"><i id="trash" class="fas fa-trash"></i></button>
                </form>
                </div>
                {% endif %}
             </div>
             <div class="post-content">
                
                 <p>{{item.text}}</p>
                
                 
             
             </div>
             <div class="post-footer">
                 <div class="comments">

                     <div class='add-comment'>
                         <a>ADD COMMENT</a> 
                     </div> 

                     <div class='add-comment-input'>
                         <form action="{% url 'add_comment' %}" method="post">
                             {% csrf_token %}
                             <input type='hidden' name='post_id' value="{{item.id}}"/>
                            <textarea name="text"></textarea>
                            <button>ADD</button>
                            
                         </form>
                    </div>
                 </div>
                 
                 <div class="rate">
                      
                    <form method="post" action="{% url 'add_rating' %}">
                        {% csrf_token %}
                        
                     <input type='hidden' name='post_id' value="{{item.id}}"/>
                     <input type="radio" class='star' id="star5" name="rating" value="5" />
                     <label for="star5" title="text">5 stars</label>
                     <input type="radio" class='star' id="star4" name="rating" value="4" />
                     <label for="star4" title="text">4 stars</label>
                     <input type="radio" class='star' id="star3" name="rating" value="3" />
                     <label for="star3" title="text">3 stars</label>
                     <input type="radio" class='star' id="star2" name="rating" value="2" />
                     <label for="star2" title="text">2 stars</label>
                     <input type="radio"  class='star' id="star1" name="rating" value="1" />
                     <label for="star1" title="text">1 star</label>
                       
                     
                       
                    
                 </div>
                 <button id="rate">RATE</button>
                </form>
             </div>
            
            {% for comment in comments %}
            {% if comment.post.id == item.id %}
            <div class='comment' value="{{comment.id}}">
                <ul>
                    <li class="comment-date-user">{{comment.publish_date}} / {{comment.user}}
                      {% if comment.user.id == request.user.id %}
                      <span id="edit-commentt"><i class="fas fa-edit"></i></span>
                    {% endif %}
                    </li>
                    <li class="comment-content">{{comment.text}}</li>

                </ul>
            </div>

            <div class="edit-comment-content">
              <div class="edit-comment-content-div"><span id="close-edit-comment">X</span>
                <h3 style='letter-spacing: 2;'>EDIT COMMENT HERE </h3>
                  <form class="post-comment-edit" action="{% url 'edit_comment' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{item.id}}"/>
                    <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                    <textarea name="text" class="comment-edit-textarea">{{ comment.text }}</textarea>
                    <button type="submit"><i class="fas fa-plus"></i></button>
                  </form>
              </div>
            </div>     

            {% endif %}
            {% empty %}
         
            {% endfor %}

         </div>

          <div class="edit-post-content">
            <div class="edit-post-content-div"><span id="close-edit-post">X</span>
              <h3 style='letter-spacing: 2;'>EDIT POST HERE </h3>
                <form class="post-edit" action="{% url 'edit_post' %}" method="post">
                {% csrf_token %}
                  <input type="hidden" name="post_id" value="{{item.id}}"/>
                  <input name='title' class="input-title-edit" value="{{item.title}}"/ placeholder="{{item.title}}">
                  <textarea name="text" class="post-edit-textarea">{{ item.text }}</textarea>
                  <button id="submit-post"type="submit"><i class="fas fa-plus"></i></button>
                </form>
            </div>
          </div>          

         {% endfor %}
    </div>
 </div>

<script>

addCommentButton = document.querySelectorAll('.add-comment');
commentDiv = document.querySelectorAll('.add-comment-input');

addCommentButton[0].addEventListener('click', function(){
    addCommentButton[0].style.display='none';
    commentDiv[0].style.display="flex";
    
});
    
commentsWidth = document.querySelectorAll('.comments'); 
buttonRate = document.querySelectorAll('#rate'); 
star = document.querySelectorAll('.star'); 

for(let i=0; i<star.length; i++){
star[i].addEventListener('click', function(){

    buttonRate[0].style.display="block";
    commentsWidth[0].style.width="645";
});
}

var editPostDiv = document.querySelectorAll(".edit-post-content");
var closeEditPost = document.querySelectorAll("#close-edit-post");
var editPostButton = document.querySelectorAll("#edit-post");


editPostButton[0].addEventListener('click',function(){
        if(editPostDiv[0].style.display !== "block"){
            editPostDiv[0].style.display="block";
      }
    });
closeEditPost[0].addEventListener('click',function(){
      if(editPostDiv[0].style.display !== "none"){
        editPostDiv[0].style.display="none";
    }
    }); 

var editCommentDiv = document.getElementsByClassName("edit-comment-content");
var closeEditComment = document.querySelectorAll("#close-edit-comment");
var editCommentButton = document.querySelectorAll("#edit-commentt");

for(let o=0; o<editCommentButton.length; o++){
  editCommentButton[o].addEventListener('click', function(){
    if(editCommentDiv[o].style.display !== "block"){
    editCommentDiv[o].style.display="block";
    }
  },false);
  
  closeEditComment[o].addEventListener('click', function(){
    if(editCommentDiv[o].style.display !== "none"){
      editCommentDiv[o].style.display="none";
    }
  },false);
 
 }

</script>
{% endblock content %}